*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    @include reset;
    height: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $text-color;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: $default-bg-color;
    overflow-x: hidden;
    overscroll-behavior-y: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
label {
    cursor: pointer;
}

.hidden-input {
    position: absolute;
    width: 1px;
    height: 1px;
    max-width: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
